body {
  margin-left: auto;
    margin-right: auto;
    width: 6em;
    height: 5em;
    text-align: center;
   
  
    background-color: #b7dad5;

}

.on {
  color: aqua;
  background-color: blueviolet;
}


.off {
  color: rgb(211, 23, 23);;
  background-color: rgb(116, 226, 43);
}